{% extends "base.html" %}
<!--Load the static folder-->
{% load static %}

{% block scripts %}
  <!-- defer won't execute until the page load -->
  <script src="{% static "posts/main.js" %}" defer></script>
{% endblock scripts %}

{% block titile %}
posts
{% endblock titile %}

{% block content %}
  <!--qs was defined in the views.py-->
  {% comment %} {% for obj in qs %}
    {{obj.title}} - {{obj.body}} <br>
  {% endfor %} {% endcomment %}
  <div id="spinner-box" class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>
  <div id="posts-box" ></div>  
  <div id="hello-world"></div>
{% endblock content %}